/* set up for devanagari fonts */

/* https://fonts.google.com/earlyaccess */
/* just use noto devanagari */
/* @import url(http://fonts.googleapis.com/earlyaccess/notosansdevanagari.css); 
 */
@font-face {
    font-family: devnagFont;
    src: url(../fonts/Shobhika-Regular.otf);
    font-weight: 400;
    unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF;
}

@font-face {
    font-family: devnagFont;
    src: url(../fonts/Shobhika-Bold.otf);
    font-weight: 700;
    unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF;
}
