/* see /CETEIcean/test/CETEIcean.css for the main stuff */

/* help: http://www.w3schools.com/cssref/css_selectors.asp */

/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

[rend=bold] {
    font-weight: bold;
}

[rend^=it] {
    font-weight: italic;
}

tei-unclear::before {
    content: "(??)";
    background: orange;
}

tei-quote[type=lemma], tei-q[type=lemma] {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: orange;
}

/* make note so small as to show only first part */
tei-note, tei-app {
    display: inline-block;
    max-width: 1em;
    max-height: 1em;
    overflow: hidden;
    font-size: 80%;
}

tei-note::before {
    content: "[n]";
    cursor: pointer;
    color: limegreen;
    font-size: x-small;
    vertical-align: super;
}

tei-app::before {
    content: "[a]";
    cursor: pointer;
    color: limegreen;
    font-size: x-small;
    vertical-align: super;
}


tei-note:active::before, tei-app:active::before {
    content: "[x]";
    cursor: pointer;
    color: red;
    text-decoration: none;
    float: right;
    font-weight: bold;
    color: red;
}

/* tei-note::before { content: "[n]";} */

tei-note:active, tei-app:active {
    display: block;
    background: antiquewhite;
    border-radius: 15px;
    /* border: 1px solid black; */
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    padding: .5em 1.5em 1.5em 1.5em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
}

/* don't really break on lb */
tei-lb {
    font-size: 50%;
    vertical-align: super;
    color: gray;
}

tei-lb::after {
  content: "";
  white-space: normal;
}

tei-pb {
    color: gray;
    font-size: 70%;
    vertical-align: sub;
}

tei-lg {
  background: whitesmoke;
  border-radius: 15px;
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 2%;
  min-width: 20%;
  max-width: 500px;
  padding: .5em 1.5em 1.5em 1.5em;
  position: relative;
  text-align: justify;
  hyphens: auto;
}

tei-l {
    max-width: 80%;
    margin-top: 1%;
    padding-left: 4% ;
    text-indent: -4% ;
}

tei-lg div.verse-num {
    color: gray;
    font-size: 70%;
    float: right;
}

tei-lg[type^=base] {
    font-size: 130%;
    background: cornsilk;
}

/* p */
tei-p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
  max-width: 700px;
  hyphens: auto;
}

tei-hi[rend="bold"] {
  font-weight:bold;
}

/* app things */

a.appRef {
    font-size: 50%;
    vertical-align: super;
    color: limegreen;
}

tei-app tei-note {
  display: inline;
}

tei-app > tei-note {
  display: block;
}

tei-app tei-lem {
    display:block;
    font-weight: bold;
}

tei-app tei-rdg {
    display:block;
    margin-left: 3em;
}

/* navigation things */
/* see https://www.thecssninja.com/css/css-tree-menu for the main idea */

nav {
    width: 20%;
    max-height: 60%;
    display: inline;
    top: 10px;
    right: 2px;
    padding: .5em 1.5em 1.5em 1.5em;
    overflow: auto;
    font-size: 100%;
    position: fixed;
    background: antiquewhite;
    /* border: 3px solid green; */
}

nav a:link {
    color: darkred;
    text-decoration: none;
}

nav a:visited {
    color: darkgreen;
    text-decoration: none;
}

nav a:hover {
    color: hotpink;
    text-decoration: none;
}

nav a:active {
    color: blue;
}


nav li {
    position: relative;
    margin-left: -15px;
    list-style: none;
}

nav li input {
    content: "+";
}

nav li input:checked {
    content: "-";
}

nav li input + ol > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px;
}

nav li input:checked + ol {
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}

nav li input:checked + ol > li {
    display: block;
    margin: 0 0 0.125em;  /* 2px */
}

nav li input:checked + ol > li:last-child {
    margin: 0 0 0.063em; /* 1px */
}

#TEI {
    width: 80%; /* of the standard body width */
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: 10px;
    padding: 24px;
    /* border: 3px solid red; */
    float: left;
}

#root {
    /* border: 3px solid blue; */
    overflow: auto;
    width: 100%;
}

:lang(bo) {
    font-family: "Noto Sans Tibetan", "Noto Sans", sans-serif; 
}

html {
  /* override font families */
  font-family: "Noto Sans Devanagari", "Noto Sans", sans-serif; 
}



