/* see /CETEIcean/test/CETEIcean.css for the main stuff */

/* help: http://www.w3schools.com/cssref/css_selectors.asp */

/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* make note so small as to show only first part */
tei-note, tei-app {
    display: inline-block;
    max-width: 1em;
    max-height: 1em;
    overflow: hidden;
    font-size: 80%;
}

tei-note::before, tei-app::before {
    content: "[n]";
    cursor: pointer;
    color: limegreen;
    font-size: x-small;
    vertical-align: super;
}

tei-note:active::before, tei-app:active::before {
    content: "[x]";
    cursor: pointer;
    color: red;
    text-decoration: none;
    float: right;
    font-size: 120%;
    font-weight: bold;
    color: red;
}

/* tei-note::before { content: "[n]";} */

tei-note:active, tei-app:active {
    display: block;
    background: antiquewhite;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 100%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    padding: .5em 1.5em 1.5em 1.5em;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
}

/* don't break on lb */
tei-lb:after {
    content: "[" attr(ed) attr(edRef) "/" attr(n) "]";
    font-size: 70%;
    vertical-align: super;
    color: gray;
}

tei-pb:after {
    content: "[" attr(ed) attr(edRef) "/" attr(n) "]";
    color: gray;
    font-size: 70%;
    vertical-align: sub;
}

tei-lg {
  background: offwhite;
  border-radius: 15px;
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 8%;
  max-width: 30%;
  padding: .5em 1.5em 1.5em 1.5em;
  position: relative;
  text-align: justify;
}

tei-lg[n]:after {
    content: "[" attr(n) "]";
    color: gray;
    font-size: 70%;
    float: right;
}

tei-lg[type^=base] {
    font-size: 130%;
    background: cornsilk;    
}

/* p */
tei-p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
  max-width: 50%;
}

html {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  /* override font families */
  font-family: "Noto Sans Devanagari", "Noto Sans", sans-serif; 
  font-size: 130%;
  background-color: white;
  color: #292929;
}